<h1>地震災情支援網</h1>

<table class = "table">
  <tr>
    <td>
      <h3>Category</h3>
    </td>
    <td>
      <h3>Title</h3>
    </td>
    <td>
      <h3>Created_at</h3>
    </td>
    <td>
      <h3>Edit/Delete/Add Comments</h3>
    </td>
  </tr>
  <tr>
  <% @disasters.each do |disaster|%>
    <td>
      <%= disaster.category.name%>
    </td>
    <td>
      <%= link_to "#{disaster.title}", disaster_path(disaster) %>
    </td>
    <td>
      <%= disaster.created_at %>
    </td>
    <td>
       <%= link_to "Edit", edit_disaster_path(disaster) , :class => "btn btn-default"%>
       <%= link_to "Delete", disaster_path(disaster), :method => :delete , :class => "btn btn-danger", :data => { :confirm => "Are you sure?" } %>
       <%= link_to 'Add Comments', disaster_comments_path(disaster) %>
    </td>
  </tr>
  <% end %>
</table>

<%= link_to "New Disaster Event", new_disaster_path %>


<%= paginate @disasters %>